@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "haboro-soft", sans-serif;
}

/* ===== About Page ===== */
.aboutPage {
  background-color: customWhite;
  font-family: "haboro-soft", sans-serif;
}

.bgImgAbout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 550px;
  background-image: url("../../public/images/about/Photo_Salut_Chef.png");
  background-size: cover;
  background-position: center 40%;
  filter: blur(2px);
  z-index: 1;
  border-radius: 5px;
}

.titleAbout {
  position: relative;
  z-index: 2;
  padding-top: 80px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleAbout h2 {
  font-family: "prenton-ultra-condensed", sans-serif;
  color: customWhite;
  font-size: 5rem;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }

  .item1,
  .item {
    flex-direction: column;
    text-align: center;
  }

  .item p,
  .item1 p {
    margin: 20px 0;
    font-size: 1rem;
  }

  .item img,
  .item1 img {
    width: 100%;
    max-width: 500px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: 1fr;
  }

  .team-photo {
    width: 150px;
    height: 150px;
  }

  .title-text h2 {
    font-size: 2rem;
  }
}

/* ===== Media Queries ===== */
@media screen and (max-width: 1280px) {
  .recipes,
  .tips {
    margin-inline: 8em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 3.5em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .recipes,
  .tips {
    flex-direction: column;
    margin-inline: 5em;
    margin-top: 4em;
  }

  .tips {
    display: flex;
    flex-direction: column;
  }

  .tips > * {
    width: 100%;
  }

  .tips .tipsPres {
    order: -1; /* Place le texte avant l'image */
    margin-bottom: 2em; /* Ajoute un espace entre le texte et l'image */
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 3em;
    margin-left: 0;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 20px;
  }

  .landingPage h1 {
    font-size: 8vw;
  }

  .landingPage p {
    font-size: 1rem;
  }

  .landingPage .btn {
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .recipes,
  .tips {
    margin-inline: 3em;
    margin-top: 3em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 2.5em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 18px;
  }

  .landingPage h1 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 480px) {
  .recipes,
  .tips {
    margin-inline: 2em;
    margin-top: 2em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 2em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 16px;
  }

  .landingPage h1 {
    font-size: 12vw;
  }

  .landingPage p {
    font-size: 0.9rem;
  }

  .landingPage .btn {
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
  }
}

@media screen and (max-width: 375px) {
  .recipes,
  .tips {
    margin-inline: 1em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 1.8em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 14px;
  }
}
