@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "haboro-soft", sans-serif;
}

/* ===== Page d'Accueil ===== */
.landingPage {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.landingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.landingImage {
  width: 100%;
  height: 100%;
}

.landingImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
  display: block;
}

.landingPage h1,
.landingPage p,
.landingPage .btn {
  position: absolute;
  z-index: 2;
}

.landingPage h1 {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fcf7f7;
  text-shadow: 2px 2px 4px rgba(25, 23, 21, 0.5);
  font-family: "prenton-ultra-condensed", sans-serif;
  font-size: 10.5vw;
  text-align: center;
}

.landingPage p {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fcf7f7;
  text-shadow: 2px 2px 4px rgba(25, 23, 21, 0.5);
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

.landingPage .btn {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #fcf7f7;
  font-family: "prenton-ultra-condensed", sans-serif;
  font-size: 1.5rem;
  background-color: #d5074c;
  padding: 0rem 1rem;
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.3s ease-in;
  z-index: 2;
}

.landingPage .btn:hover {
  box-shadow: inset 2px 2px 5px rgba(25, 23, 21, 1);
}

/* ----- Carousel ----- */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}

.carousel-button.left {
  left: -2em;
}

.carousel-button.right {
  right: -2em;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* ----- Tips & Recipes ----- */
.recipes,
.tips,
.landingPage h1,
.landingPage p,
.landingPage .btn {
  transition: all 0.3s ease;
}

.recipes,
.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
  margin-inline: 12em;
  gap: 3em;
}

.recipesPres,
.tipsPres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipes img,
.tips img {
  border: 5px solid #fcf7f7;
  border-radius: 10px;
  box-shadow: 4px 4px 2px rgba(25, 23, 21, 0.5);
  max-width: 100%;
  height: auto;
}

.recipesPres h3,
.tipsPres h3 {
  color: #fcf7f7;
  font-family: "prenton-ultra-condensed", sans-serif;
  font-size: 4em;
  margin-top: 1.5%;
  text-decoration: underline;
}

.recipesPres p,
.tipsPres p {
  font-size: 25px;
}

/* ===== Media Queries ===== */
@media screen and (max-width: 1280px) {
  .recipes,
  .tips {
    margin-inline: 8em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 3.5em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .recipes,
  .tips {
    flex-direction: column;
    margin-inline: 5em;
    margin-top: 4em;
  }

  .tips {
    display: flex;
    flex-direction: column;
  }

  .tips > * {
    width: 100%;
  }

  .tips .tipsPres {
    order: -1; /* Place le texte avant l'image */
    margin-bottom: 2em; /* Ajoute un espace entre le texte et l'image */
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 3em;
    margin-left: 0;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 20px;
  }

  .landingPage h1 {
    font-size: 8vw;
  }

  .landingPage p {
    font-size: 1rem;
  }

  .landingPage .btn {
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .recipes,
  .tips {
    margin-inline: 3em;
    margin-top: 3em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 2.5em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 18px;
  }

  .landingPage h1 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 480px) {
  .recipes,
  .tips {
    margin-inline: 2em;
    margin-top: 2em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 2em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 16px;
  }

  .landingPage h1 {
    font-size: 12vw;
  }

  .landingPage p {
    font-size: 0.9rem;
  }

  .landingPage .btn {
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
  }
}

@media screen and (max-width: 375px) {
  .recipes,
  .tips {
    margin-inline: 1em;
  }

  .recipesPres h3,
  .tipsPres h3 {
    font-size: 1.8em;
  }

  .recipesPres p,
  .tipsPres p {
    font-size: 14px;
  }
}
